[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django= "*"
gunicorn= "*"
django-rest-framework = "*"
django-guardian = "*"
django-oauth-toolkit = "*"
django-cors-middleware = "*"
oauth2-provider = "*"
yahoo-fin = "*"
pandas = "*"
requests-html = "*"
sqlalchemy = "*"
plotly = "*"
scipy = "*"
quandl = "*"
cvxopt = "*"

[dev-packages]

[requires]
python_version = "3.7"
